.catname {
    background: rgb(187, 178, 178);
    margin-right: 87%;

    label.mylabel {
        color: rgb(43, 38, 38);
    }
}

.index {
    p.text /**:first-of-type**/ {
        margin-bottom: 0px;
        margin-right: 10px;
        display: inline-block;
    }

    .middle-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid red;
    }
    .middle-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        border: 1px solid red;
    }
    .middle-grid{
        display: grid;
        place-items: center;
        border: 1px solid red;
    }
}
