@font-face {
    font-family: 'FSRufus-bold';
    src:    url('/fonts/FSRufus/Bold/FSRufus-Bold_gdi.eot');
    src:    url('/fonts/FSRufus/Bold/FSRufus-Bold_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/Bold/FS Rufus Bold.woff2') format('woff2'),
    url('/fonts/FSRufus/Bold/FSRufus-Bold.ttf') format('truetype'),
    url('/fonts/FSRufus/Bold/FSRufus-Bold.woff') format('woff'),
    url('/fonts/FSRufus/Bold/FSRufus-Bold.svg') format('svg');
}
@font-face {
    font-family: 'FSRufus-bold-italic';
    src:    url('/fonts/FSRufus/BoldItalic/FSRufus-BoldItalic_gdi.eot');
    src:    url('/fonts/FSRufus/BoldItalic/FSRufus-BoldItalic_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/BoldItalic/FS Rufus Bold Italic.woff2') format('woff2'),
    url('/fonts/FSRufus/BoldItalic/FSRufus-BoldItalic.ttf') format('truetype'),
    url('/fonts/FSRufus/BoldItalic/FSRufus-BoldItalic.woff') format('woff'),
    url('/fonts/FSRufus/BoldItalic/FSRufus-BoldItalic.svg') format('svg');
}
@font-face {
    font-family: 'FSRufus-italic';
    src:    url('/fonts/FSRufus/Italic/FSRufus-Italic_gdi.eot');
    src:    url('/fonts/FSRufus/Italic/FSRufus-Italic_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/Italic/FS Rufus Italic.woff2') format('woff2'),
    url('/fonts/FSRufus/Italic/FSRufus-Italic.ttf') format('truetype'),
    url('/fonts/FSRufus/Italic/FSRufus-Italic.woff') format('woff'),
    url('/fonts/FSRufus/Italic/FSRufus-Italic.svg') format('svg');
}
@font-face {
    font-family: 'FSRufus-light';
    src:    url('/fonts/FSRufus/Light/FSRufus-Light_gdi.eot');
    src:    url('/fonts/FSRufus/Light/FSRufus-Light_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/Light/FS Rufus Light Regular.woff2') format('woff2'),
    url('/fonts/FSRufus/Light/FSRufus-Light.ttf') format('truetype'),
    url('/fonts/FSRufus/Light/FSRufus-Light.woff') format('woff'),
    url('/fonts/FSRufus/Light/FSRufus-Light.svg') format('svg');
}
@font-face {
    font-family: 'FSRufus-light-italic';
    src:    url('/fonts/FSRufus/LightItalic/FSRufus-LightItalic_gdi.eot');
    src:    url('/fonts/FSRufus/LightItalic/FSRufus-LightItalic_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/LightItalic/FS Rufus Light Italic.woff2') format('woff2'),
    url('/fonts/FSRufus/LightItalic/FSRufus-LightItalic.ttf') format('truetype'),
    url('/fonts/FSRufus/LightItalic/FSRufus-LightItalic.woff') format('woff'),
    url('/fonts/FSRufus/LightItalic/FSRufus-LightItalic.svg') format('svg');
}
@font-face {
    font-family: 'FSRufus';
    src:    url('/fonts/FSRufus/Regular/FSRufus_gdi.eot');
    src:    url('/fonts/FSRufus/Regular/FSRufus_gdi.eot') format('embedded-opentype'),
    url('/fonts/FSRufus/Regular/FS Rufus Regular.woff2') format('woff2'),
    url('/fonts/FSRufus/Regular/FSRufus.ttf') format('truetype'),
    url('/fonts/FSRufus/Regular/FSRufus.woff') format('woff'),
    url('/fonts/FSRufus/Regular/FSRufus.svg') format('svg');
}