@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/roboto/RobotoSlab-Light.ttf");
  }
  
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/roboto/RobotoSlab-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto/RobotoSlab-Regular.ttf");
  }
  